* {
  margin: 0;
  padding: 0;
  font-family: "poppins", "sans-serif";
}
.navbar {
  height: 80px;
  width: 100%;
  background-color: #ffffff;
  /* padding: 15px 108px; */
}

.nav-container {
  padding: 15px 108px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.nav-logo-image {
  height: 50px;
  width: 138px;
}

.nav-links {
  width: 429px;
  height: 44px;
  display: flex;
}

.nav-button {
  color: white;
  height: 50px;
  width: 168px;
  border-radius: 8px;
  padding: 13px 24px;
  background-color: #082d4a;
}
.nav-link {
  width: 94px;
  height: 44px;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 10px 24px 10px 24px;
  list-style-type: none;
  gap: 10px;
  text-wrap: nowrap;
}

/*hero section css*/

.hero-section {
  background-image: url(images/img.png);
  background-size: cover;
  width: 100%;
  height: 549px;
}

.hero-container {
  width: 100%;
  height: 323px;
}

.container-body {
  width: 705px;
  height: 323px;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 108px;
  padding-right: 108px;
}

.hero-title {
  width: 705px;
  height: 220px;
  gap: 16px;
}

.hero-buttons {
  height: 70.59px;
  width: 496px;
}

.hero-button {
  width: 238px;
  height: 70px;
}

.hero-span {
  font-weight: 500;
  color: #ff785a;
  text-decoration: underline solid;
}

.hero-title-text {
  display: flex;
  flex-direction: column;
  width: 705px;
  height: 180px;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 52px;
  line-height: 60px;
  letter-spacing: -2%;
  color: #ffffff;
}

.hero-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #b6b8b9;
}

/*show case section*/
.showcase-section {
  width: 100%;
  height: 898px;
}

.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 123px 108px;
}

.showcase-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.showcase-about-text {
  text-align: center;
  color: #ff785a;
  font-size: 16px;
}

.showcase-highlight {
  color: #ff785a;
  text-decoration: underline;
}

.showcase-title-text {
  font-size: 48px;
  text-align: center;
}

.showcase-images {
  width: 705px;
  height: 672px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  
}




/* images */
.showcase-image-firstbox{
  height:672px;
  width: 288px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.showcase-firstbox-firstimage{
  width: 288px;
  height: 296px;
  border-radius: 16px;
}

.showcase-firstbox-secondimage{
  width: 288px;
  height: 352px;
  border-radius: 16px;
}


.showcase-image-secondbox{
  height: 672px;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  
}

.showcase-secondbox-firstimage{
  width: 288px;
  height: 296px;
  border-radius: 16px;

}

.showcase-secondbox-secondimage{
  width: 600px;
  height: 352px;
  border-radius: 16px;
}


.showcase-thirdbox-image{
  width: 288px;
  height: 208px;
  border-radius: 16px;
}

.showcase-image-secondbox-first-images{
  display: flex;
  gap: 24px;
}


/* story section */
.story-section{
  width: 100%;
  height: 738px;
}

.story-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 60px 108px 120px 108px;
}

.story-content-container{
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 24px;
  height: 472px;

}

.story-image-headmassage{
  width: 496px;
  height: 472px;
  border-radius: 16px;
  padding: 10px;
}

.story-description{
  width: 704px;
  height: 472px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.story-description-content{
  width: 704px;
  height: 398px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.story-description-text{
  width: 704px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #1B1B1C;
}

.story-button{
  width: 144px;
  height: 50px;
  border-radius: 8px;
  padding: 13px 24px;
  background-color: #082D4A;
  color:#FFFFFF ;
}

.story-button-text{
  width: 96px;
  height: 24px;
  font-size: 16px;
  
}

.first-text{
  height: 122px;
}

.second-text{
  height: 72px;
}

.third-text{
  height: 96px;
}

.fourth-text{
  height: 72px;
}

/* features section */
.features-section{
  width: 100%;
  height: 581px;
  padding: 120px 0px 60px 0px;
  background-color: #082D4A;
  color: white;
  display: flex;
  justify-content: center;



}

.features-container{
  width: 1224px;
  height: 401px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.features-title{
  width: 266px;
  height: 56px;
  font-weight: 500;
  font-size: 48px;
  text-wrap: nowrap;
  text-align: center;
  

}

.features-title-highlight{
  color: #FF785A;
  text-decoration: underline;

}

.features-boxes{
  width: 1224px;
  height: 285px;
  display: flex;
  justify-content: center;
  gap: 25px;

}

.feature-card{
  width: 287px;
  height: 285px;
  border-radius: 8px;
  background-color: #062237;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 25px;
}

.feature-icon{
  font-size: 34.8px;
  color: #FF785A;
}

.feature-title-text{
  width: 237px;
  height: 32px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
}
.feature-card-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  text-align: center;

}

/* service section */

.service-section{
  width: 100%;
  height: 994px;
  padding: 60px 0px 120px 0px;
  background-color: #082D4A;
  display: flex;
  justify-content: center;
}

.service-container{
  width: 1224px;
  height: 814px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;

}

.service-title{
  width: 592px;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.service-title-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.service-feature{
  width: 211px;
  height: 24px;
  font-weight: 400;
  color: #FF785A;
  font-size: 16px
}

.service-title-text{
width: 592px;
height: 56px;
font-weight: 500;
font-size: 48px;
color: white;
text-align: center;
}

.service-title-highlight{
  color: #FF785A;
  text-decoration: underline;

}

.service-title-description{
  height: 24px;
  width: 460px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #86888A;
}

.services-servicebox{
  width: 1224px;
  height: 610px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.service-cards{
  width: 392px;
  height: 285px;
  border-radius: 8px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #062237;
  color: white;
  box-sizing: border-box;
  text-align: center;
}

.service-icon{
  font-size: 34.8px;
  color: #FF785A;
}

.feature-title-text{
  text-wrap: nowrap;
}

/* testimonial-section */

.testimonial-section{
  width: 100%;
  height: 719px;
  background-color: #ffffff;
  padding: 120px 108px 60px 108px;
  box-sizing: border-box;
}

.testimonial-container{
  width: 1224px;
  height: 539px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.testimonial-title{
  width: 1224px;
  height: 128px;
  display: flex;
  gap: 30px;

}

.testimonial-title-content{
  width: 998px;
  height: 98px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.testimonial-text{
  width: 998px;
  height: 26px;
  font-size: 18px;
  font-weight: 500;
  color: #FF785A;
}

.testimonial-title-text{
  width: 748px;
  height: 56px;
  font-weight: 500;
  font-size: 48px;
}

.testimonial-title-highlight{
color: #FF785A;
text-decoration: underline;
}

.testimonial-icons{
  width: 226px;
  height: 16px;
  font-size: 25px;
  display: flex;
 justify-content: end;
 gap: 10px;
 margin-top: 60px;
}